*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-bottom: black solid 1px;
    align-content: space-between;
    font-family: 'Bitter', serif;
}
.nav-items a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
}
.nav-items{
    text-align: right;
    padding-bottom: 10px;
    font-weight: bolder;
}
.logo{
    padding-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    height: 50px;
    padding-bottom: 10px;
}
.button{
    width: 150px;
    background-color: #76d953;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 80px;
    margin-left: 160px;
    margin-bottom: 30px;
    border: 1px solid black;
    
}
.download{
    padding-top: 12px;
    padding-left: 3px;
    padding-bottom: 2px;
}
.download a{
    color: black;
}
.main{
    padding-left: 20px;
    padding-top: 20px;
    background-color: #ecdac2;
    height: auto;
}
.main1{
    margin: 10px;
    
}
.container1{
    padding-left: 10px;
    width: 95%;
    height: 1000px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: black;
    padding-bottom: 10px;
    margin-top: 50px;
}
.sideimg img{
    position: absolute;
    top:200px;
    left:900px;
    height: 400px;
    
}
.footer{
    text-align: center;
    padding-top: 20px;
    justify-content: space-between;
}
.back,.play,.forward{
    display: inline;

}
.forward img,.back img{
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
h1{
    font-size: 70px;
    text-shadow: 2px 5px 2px rgb(58, 55, 55);
    color: #404242;
    font-family: 'Black Han Sans', sans-serif;
}
.d2{
    padding-left: 15px;
}
.d3{
    padding-left: 60px;
}
h2{
    text-shadow: 2px 1px 2px rgb(58, 55, 55);
    font-family: 'Black Han Sans', sans-serif;
}
.line{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container2{
    background-color: #404242;
    height: 980px;
   
    top: 500px;
}
.img1 img{
    position: absolute;
    top: 720px;
    left: 40px;
    width: 500px;
    height: 470px;

}
.img2 img{
    position: absolute;
    top: 720px;
    left: 550px;
    height: 300px;
    width: 270px;
}
.img3 img{
    position: absolute;
    top: 720px;
    left: 850px;
    height: 250px;
}
.img4 img{
    position: absolute;
    top:1200px;
    left: 40px;
    height: 400px;
    width: 500px;
}
.img5 img{
    position: absolute;
    top: 1050px;
    left: 550px;
    height: 600px;
    width: 500px;
}
.MONEY{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: #baf7a4da;
    font-size: 60px;
    position: absolute;
    top: 1060px;
    left: 100px;
    font-size: 200px;
    width: 4000px;
    font-family: 'Black Han Sans', sans-serif;
        
}
.LOFI{
    color: white;
    position: absolute;
    top: 980px;
    left: 850px;
    font-size: 40px;
    font-family: 'Black Han Sans', sans-serif;
}
.BROKEN-HEART1{
    position: absolute;
    top: 1600px;
    left: 170px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:white;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;

}
.A{
    position: absolute;
    top: 1600px;
    left: 352px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:red;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
}
.BROKEN-HEART2{
    position: absolute;
    top: 1600px;
    left: 374px;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:white;
    font-family: 'Black Han Sans', sans-serif;
}
.download a{
    text-decoration: none;
    
}
.content1,.content2{
    font-family: 'BIZ UDMincho', serif;
}
h2{
    font-family: 'Black Han Sans', sans-serif;
    color: #404242;
}
